<!--The content below is only a placeholder and can be replaced.-->

<h2 class= "teste" [style.color]="'blue'">Esse é um teste de style binding</h2>
<h2 class= "teste2" [style.text-decoration]="riscado">Esse é outro tipo de teste, ainda com style binding</h2>
<h2 class="teste3">A seguir, um exemplo de property binding</h2>
<img [src]="urlImagem" class="imagem">
<h2 class="teste4">Abaixo, um exemplo de two-way property binding</h2>
<input class="inputTeste"[(ngModel)]="write" type="text">

<p>
    {{write}}
</p>



