<!--The content below is only a placeholder and can be replaced., routerLink="/Cadastro"-->

<div>
  <h1 style="color:white;">
    
    Bem Vindo a {{ title }}!
  </h1>
</div>
<div class="mainBody" >
  <router-outlet></router-outlet>
</div>
<div class="menu"></div>
<a class="home"routerLink="/"><h1>Home</h1></a>
<div class="posc1">
  <divisor></divisor>
</div>
<a class="sign"routerLink="/cadastro"><h1>Cadastro</h1></a>
<div class="posc2">
  <divisor></divisor>
</div>
<a class="list"routerLink="/consulta"><h1>Consulta</h1></a>
<div class="posc3">
  <divisor></divisor>
</div>
<a class="test"routerLink="/teste"><h1>Teste</h1></a>

